.content {
	@extend %top;
	@extend %bottom;
	background-color: white;

	@media #{$brk_nerrow}{
		overflow: hidden;
	}
}

.gallery {
	padding: 0;
	
	li {
		list-style-type: none;
		padding-top: 20px;
		@extend %bottom;
	}

}


.col_1 {
	@media #{$brk_nerrow}{
		float: left;
		width: 50%;
		background-color: white;
	}

	@media #{$brk_wide}{
		float: left;
		width: 33%;
	}
			
}

.col_2 {
	@media #{$brk_nerrow}{
		float: right;
		width: 50%;
		background-color: white;
	}
	
	@media #{$brk_wide}{
		float: left;
		width: 33%;
	}	
}

.col_3 {
	@media #{$brk_nerrow}{
		background-color: white;
	}

	@media #{$brk_wide}{
		float: left;
		width: 33%;
	}
		
}

.span_in{
	@media #{$brk_nerrow}{
		display: inline;
		width: 50%;
		float: left;
		background-color: white;
		margin-bottom: 40px;
		padding-bottom: 20px;
	}

	@media #{$brk_wide}{
		display: block;
		width: 100%;
		float: none;
		background-color: white;
		margin-bottom: 0px;
		padding-bottom: 0px;
		margin-top: 15px;
	}
		
}
