

//bottom padding

%bottom {
	padding-bottom: 10px;
}

//top padding

%top {
	padding-top: 10px;
}


//style for main nav and name

%nav {
	display: block;
    text-align: center;
	padding: 10px 15px;
}

%display {
	display: none;
}
