
.portfolio_img {
	width: $wd;
	border-radius: $br;
	margin-top: 15px;
	margin-bottom: 10px;

	@media #{$brk_nerrow} {
		max-width: 30%;
		float: right;
		margin: 0 2em 2em;
				
	}

}

#portfolio {
	padding-top: 30px;
	padding-bottom: 20px;
}
