
//colors 

$Alabaster 	: #f7f7f7;
$Mine_Shaft : #3A3A3A;
$slight_gay : rgba(130,130,130, 0.2);
$light_gay  : rgba(170, 170, 170, 5);

// Functional colors 

$color_main  : $Alabaster;
$color_text  : $Mine_Shaft;
$color_black : black;
$color_white : white;
$color_border : $slight_gay;
$color_b_border : $light_gay;


//Font stack

$stak_batman: 'batman_forever';
$stack_batman_o: 'batman_forever_o';

//border raduis

$br : 5px;

// img width 

$wd : 50%;

// font size for text

$fs  : 0.6em;
$fh4 : 0.7em;
$fa  : 0.75em;
$fh3 : 0.8em;
$fh1 : 0.9em;
$tw  : 600;

//assets path 

$path_font : 'batman_forever' ;

//Mediq query breakpoints

$brk_nerrow : '768px';
$brk_wide    : '1024px';